{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO List App</title>
        <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}"/>
    </head>
    <body>
        <div class='app-window'>
            <h2>TODO List</h2>
            <form method="POST" action="{% url 'addtodo' %}" role="form">
                {% csrf_token %}
                {{ todo_form.text }}
                <button class="btn" type="submit">ADD</button>
              </form>
              <a href="{% url 'delete' %}"><button class="btn" type="submit">DELETE</button></a><a href="{% url 'clearall' %}"> <button class="btn" type="submit">CLEAR ALL</button></a>
            <div class='list-items'>
                <ul>
                    {% for item in todo_list %}
                        {% if item.completed %}
                            <li><del>{{ item.text }}</del></li>
                        {% else %}
                            <a style="text-decoration:none; color: black" href="{% url 'completeitem' item.id %}"><li class="not-completed">{{ item.text }}</li></a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>